:root {
	--color: #ffffff;
	--bg-color: hsl(228, 10%, 10%);
	--font: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: var(--color);
	font-family: var(--font);
	background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6, a, p {
	color: var(--color);
}
